@charset "utf-8";
/*头部*/
.head{
	padding: 20px 0;
}
.topcom{
	background-color: #f0f0f0;
	overflow: hidden;
	color: #d2d2d2;
}
.topcom-p-l{
	background: url(../img/images/icon10.png) no-repeat left;
	padding-left: 34px;
}
.topcom-p-c{
	width: 126px;
	margin: 0 auto;
}
.topcom-p-r1{
	background: url(../img/images/weibo.png) no-repeat;
}
.topcom-p-r2{
	
}
